@import '/src/styles/utils/variables.scss';

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;

  &__icon {
    width: 16x;
    color: $white-accent-color;
  }

  &__separator {
    width: 16px;
    color: $icons-color;
  }

  &__current {
    font-size: 13px;
    font-weight: 600;
    color: $secondary-color;
  }
}
