@use '/src/styles/utils/variables.scss' as *;
@use '/src/styles/utils/mixins.scss' as *;

.cart {
  background-color: $main-background-color;
  color: $white-accent-color;
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
  height: 100%;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.title {
  color: $white-accent-color;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -1%;

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
  }
}

.content {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-tablet {
    gap: 24px;
  }

  @include on-small-desktop {
    @include page-grid;
    column-gap: 16px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @include on-tablet {
    gap: 24px;
    flex-direction: column;
    margin-bottom: 80px;
  }

  @include on-small-desktop {
    grid-column: span 16;
  }
}

.total {
  box-sizing: border-box;
  border: 1px solid $surface2-color;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  @include on-small-desktop {
    height: 206px;
    grid-column: span 8;
  }
}

.totalPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totalAmount {
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -1%;
  text-align: center;
  color: $white-accent-color;
  margin: 0;
}

.totalItems {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  color: $secondary-color;
  margin: 0;
}

.divider {
  width: 100%;
  border: 1px solid $elements-color;
}

.checkout {
  background-color: $purple-accent-color;
  color: $white-accent-color;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 0;
  width: 100%;
  height: 48px;
}
