@use '/src/styles/utils/variables.scss' as *;

$gap: 8px;

.container {
  display: flex;
  gap: $gap;

  justify-content: center;

  &__pages {
    display: flex;
    gap: $gap;

    justify-content: space-between;
  }

  &__arrow {
    background-color: $surface2-color !important;
  }
}
