@use '/src/styles/utils/variables.scss' as *;
@use '/src/styles/utils/mixins.scss' as *;
@use '/src/styles/utils/normalize.scss' as *;

.product__main-info {
  @include page-grid;
  row-gap: 40px;

  &__images {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

    @include on-tablet {
      grid-column: 1 / 7;
      flex-direction: row-reverse;
    }

    @include on-small-desktop {
      grid-column: 1 / 13;
    }

    &__main-image {
      width: 288px;
      height: 288px;
      grid-column: 1 / -1;
      box-sizing: border-box;
      padding: 11px;
      display: flex;
      justify-content: start;

      @include on-small-desktop {
        width: 464px;
        height: 464px;
      }

      &__img {
        width: 100%;
        object-fit: contain;
        animation: fadeIn 0.5s ease-out forwards;
      }
    }

    &__slider {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      justify-content: center;

      @include on-tablet {
        flex-direction: column;
        justify-content: start;
      }

      &__img {
        height: 50px;
        width: auto;
        object-fit: contain;
        cursor: pointer;

        @include on-tablet {
          min-height: 35px;
        }

        @include on-small-desktop {
          height: 80px;
        }
      }
    }
  }

  &__features {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 8 / -1;
    }

    @include on-small-desktop {
      grid-column: 14 / 21;
    }

    &__head {
      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
      display: flex;
      justify-content: space-between;
    }

    &__colors {
      &__label {
        color: $secondary-color;
      }

      &__list {
        display: flex;
        flex-direction: row;
        gap: 8px;
        padding-top: 8px;

        &__outline {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 1px solid $elements-color;
          display: flex;
          justify-content: center;
          align-items: center;

          &.--active {
            border: 1px solid $white-accent-color;
          }
        }

        &__item {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          cursor: pointer;

          $colors: (
            'black': $black,
            'white': $white,
            'silver': $silver,
            'gold': $gold,
            'rosegold': $rosegold,
            'yellow': $yellow,
            'red': $red,
            'purple': $purple,
            'green': $green,
            'coral': $coral,
            'midnightgreen': $midnightgreen,
            'graphite': $graphite,
            'sierrablue': $sierrablue,
            'blue': $blue,
            'pink': $pink,
            'starlight': $starlight,
            'midnight': $midnight,
            'skyblue': $skyblue,
            'spacegray': $spacegray,
            'spaceblack': $spaceblack,
          );

          @each $name, $color in $colors {
            &.--#{$name} {
              background-color: $color;
            }
          }
        }
      }
    }

    &__id {
      color: $icons-color;
      font-size: 10px;
    }

    &__breakline {
      width: 100%;
      height: 1px;
      background-color: $elements-color;
      margin: 24px 0;
    }

    &__capacity {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__label {
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        color: $secondary-color;
      }

      &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        &__memory {
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          padding: 7px 8px 4px;
          border: 1px solid $icons-color;
          color: $white-accent-color;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          cursor: pointer;

          &.--active {
            background-color: $white-accent-color;
            color: $main-background-color;
            border: 0;
          }
        }
      }
    }

    &__prices {
      display: flex;
      gap: 8px;
      align-items: center;
      &__discount {
        font-weight: 800;
        font-size: 32px;
        line-height: 41px;
        letter-spacing: -1%;
        color: $white-accent-color;
      }

      &__regular {
        font-weight: 600;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        text-decoration: line-through;
        color: $secondary-color;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 8px;
      margin-top: 16px;
      margin-bottom: 32px;

      &__cart {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $purple-accent-color;

        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-align: center;

        @include hover(background-color, $purple-hover-color);

        &.--added {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $surface2-color;

          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
        }
      }

      &__favourites {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $surface2-color;

        &:hover {
          cursor: pointer;
        }

        &.--added {
          border: 1px solid $elements-color;
          background-color: $main-background-color;
        }
      }
    }

    &__descriptions {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__description {
      display: flex;
      justify-content: space-between;
      &__label {
        display: block;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        color: $secondary-color;
      }

      &__value {
        display: block;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        color: $white-accent-color;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
