@use '/src/styles/utils/variables.scss' as *;
@use '/src/styles/utils/mixins.scss' as *;
@use '/src/styles/utils/normalize.scss' as *;

.navigation {
    font-size: 12px;
    color: $white-accent-color;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
        gap: 40px;
    }

    &__breadcrumbs {
        display: flex;
        gap: 8px;
        align-items: center;
        width: 100%;

        font-weight: 700;
        line-height: 100%;

        &__home {
            display: block;
            width: 16px;
            height: 16px;
        }

        &__arrow-right {
            display: block;
            width: 16px;
            height: 16px;
            color: $icons-color;
        }
        &__category {
            display: block;

        }

        &__product {
            display: block;
            color: $secondary-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }
    }

    &__back {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 700;
        line-height: 100%;

        &__arrow-left {
            display: block;
            width: 16px;
            height: 16px;
        }

        &__link {
            display: block;
        }
    }
}