@use '/src/styles/utils/variables.scss' as *;
@use '/src/styles/utils/mixins.scss' as *;
@use './Navigation.module.scss' as *;
@use './Main-info.module.scss' as *;
@use './Detailes.module.scss' as *;
@use './Offers.module.scss' as *;

.loading {
  min-height: 100vh;
}

.page {
  min-width: 320px;
  box-sizing: border-box;
  background-color: var(--main-background-color, $main-background-color);
}

.name {
  margin-top: 16px;
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;

  @include on-tablet {
    margin-bottom: 40px;
  }
}

.back {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
  background-color: var(--main-background-color, $main-background-color);
  cursor: pointer;
}

.text {
  font-weight: 800;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--main-text-color-primary, $white-accent-color);
}
