@use '/src/styles/utils/variables.scss' as *;
@use '/src/styles/utils/mixins.scss' as *;

.card {
  color: var(--main-text-color-primary, $white-accent-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  background-color: var(--surface1-color, $surface1-color);

  &__content {
    flex: 1;
    padding: 32px;
    display: flex;
    flex-direction: column;
  }

  &__photo {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    flex-shrink: 1;

    aspect-ratio: 1/1;
  }

  &__description {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    padding-top: 16px;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 8px;

    &__value {
      font-size: 22px;
      font-weight: 800;

      &--strikethrough {
        text-decoration: line-through;
        color: var(--main-text-color-secondary, $secondary-color);
        font-weight: 600;
      }
    }
  }

  &__divider {
    height: 1px;
    background-color: var(--elements-color, $elements-color);
  }

  &__specs {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    gap: 8px;
    padding-block: 8px;

    &__field {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      font-weight: 700;
    }

    &__label {
      color: var(--main-text-color-secondary, $secondary-color);
    }
  }

  &__controls {
    height: 40px;
    display: flex;
    gap: 8px;
  }

  &__button {
    height: 100%;
    background-color: var(--surface2-color, $surface2-color);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border: none;
    box-sizing: border-box;
    padding: 0;

    &:first-of-type {
      flex-grow: 1;
    }

    &--cart {
      background-color: var(--buttons-background-active, $purple-accent-color);

      @include hover(
        background-color,
        var(--buttons-background-active-hover, $purple-hover-color)
      );
    }

    &--fav {
      aspect-ratio: 1/1;
    }
  }
}
