@use '/src/styles/utils/mixins.scss' as *;
@use '/src/styles/utils/variables.scss' as *;

.content {
  @include page-grid;
  height: 100%;
  color: $white-accent-color;
  row-gap: 12px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  @include on-tablet {
    row-gap: 24px;
  }

  @include on-small-desktop {
    min-height: 680px;
  }
}
.favouritesEmptyImage {
  grid-column: 1 / -1;
  height: auto;
  max-height: 400px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;

  @include on-tablet {
    grid-column: 3 / 11;
  }
  @include on-small-desktop {
    max-height: 568px;
    max-width: 568px;
    grid-column: 6 / 20;
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }
}

.errorMessage {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $purple-accent-color;
}

.error {
  display: inline-block;
  font-size: 30px;
  font-weight: 800;
  line-height: 100%;

  @include on-small-desktop {
    font-size: 56px;
  }
}