@use '/src/styles/utils/mixins.scss' as *;
@use '/src/styles/utils/variables.scss' as *;

.content {
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  color: $white-accent-color;
  row-gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.favouritesEmptyImage {
  height: 66%;
  max-height: 268px;
  max-width: 268px;
  width: 100%;
  margin: 0 auto;

  &__img {
    width: 100%;
    object-fit: contain;
  }
}

.errorMessage {
  height: 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $purple-accent-color;
  margin: 0 auto;

  @include on-tablet {
    max-width: 600px;
  }

  @include on-small-desktop {
    max-width: 100%;
  }
}

.error {
  display: inline-block;
  font-size: 30px;
  font-weight: 800;
  line-height: 100%;

  @include on-tablet {
    font-size: 36px;
  }

  @include on-small-desktop {
    font-size: 40px;
  }
}
