@use '/src/styles/utils/variables.scss' as *;

.back {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
  background-color: var(--main-background-color, $main-background-color);
  cursor: pointer;
}

.text {
  font-weight: 800;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--main-text-color-primary, $white-accent-color);
}
