@use '/src/styles/utils/variables.scss' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;

  aspect-ratio: 1/1;

  &--active {
    background-color: $purple-hover-color;
  }
}
