$main-background-color: #0f1121;
$surface1-color: #161827;
$surface2-color: #323542;
$elements-color: #3b3e4a; 
$icons-color: #4a4d58;
$secondary-color: #75767f;
$white-accent-color: #f1f2f9;
$purple-accent-color: #905bff;
$purple-hover-color: #a378ff;
$green-accent-color: #27ae60;
$red-accent-color: #eb5757;
