@use '../../../styles/utils/variables' as *;
@use '../../../styles/utils/mixins' as *;

.page {
  @include on-tablet {
    padding-top: 8px;
  }

  @include on-small-desktop {
    padding-top: 32px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

.title {
  font-size: 22px;
  font-weight: 800;
  line-height: 41px;

  margin-bottom: 24px;

  @include on-tablet {
    font-size: 32px;
  }

  &--bigger {
    font-size: 32px;
    margin-bottom: 24px;

    @include on-tablet {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 32px;
    }

    @include on-small-desktop {
      margin-bottom: 56px;
    }
  }
}

.slider {
  @include page-grid;

  margin-bottom: 18px;
}

.sliderContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 2 / -2;
  }
}

.sliderButton {
  border-color: $surface2-color;
  border-radius: 0;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;

  width: 100%;

  display: none;

  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: $surface2-color;

  @include on-tablet {
    display: flex;
  }
}

.swiper {
  width: 100%;

  & img {
    width: 100%;
  }
}

.categories {
  @include page-grid;
  row-gap: 32px;
}

.category {
  display: flex;
  flex-direction: column;

  grid-column: span 4;
  margin: 0 auto;
  cursor: pointer;
  width: 100%;

  @include on-small-desktop {
    grid-column: span 8;
  }

  & img {
    width: 100%;
    z-index: 1;

    @include hover(transform, scale(1.1));
  }
}

.categoryTitle {
  text-decoration: none;
  color: $white-accent-color;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 600;
}

.categoryAmount {
  margin: 0;
  font-size: 14px;
  font-weight: 600;

  color: $secondary-color;
}

.customPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  --swiper-pagination-bullet-width: 14px !important;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bullet-border-radius: 0;
  --swiper-pagination-bullet-horizontal-gap: 0;
  --swiper-pagination-color: #{$white-accent-color};
  --swiper-pagination-bullet-inactive-color: #{$elements-color};

  .swiper-pagination-bullet {
    display: block;
    transition: background-color 0.3s;
  }
}

.home_content {
  display: flex;
  flex-direction: column;

  gap: 56px;

  @include on-tablet {
    gap: 64px;
  }

  @include on-small-desktop {
    gap: 80px;
  }
}
