@use '../../../styles/utils/variables' as *;
@use '../../../styles/utils/mixins' as *;

.home-page {
  &__title {
    font-size: 22px;
    font-weight: 800;
    line-height: 41px;

    margin-bottom: 24px;

    @include on-tablet {
      font-size: 32px;
    }

    &--bigger {
      font-size: 32px;
      margin-bottom: 24px;

      @include on-tablet {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 32px;
      }

      @include on-small-desktop {
        margin-bottom: 56px;
      }
    }
  }

  &__slider-swiper {
    width: 100%;

    & img {
      width: 100%;
    }
  }

  &__slider {
    margin-inline: -16px;
    margin-bottom: 18px;

    @include on-tablet {
      display: flex;
      justify-content: center;
      gap: 19px;
      margin-inline: 0;
    }

    &-content {
      width: 100%;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include on-tablet {
        width: calc(100% - 32px * 2 - 16px * 2);
      }
    }
  }

  &__slider-button {
    background-color: $surface1-color;
    border-color: $surface2-color;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;

    display: none;

    @include on-tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      width: 32px;

      background-color: $surface2-color;
    }
  }
}

.categories {
  @include page-grid;
  row-gap: 32px;

  margin-bottom: 56px;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-small-desktop {
    margin-bottom: 80px;
  }

  &-container {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;

    grid-column: span 4;

    @include on-small-desktop {
      grid-column: span 8;
    }
  }

  &__title {
    text-decoration: none;
    color: $white-accent-color;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
  }

  &__amount {
    margin: 0;
    font-size: 14px;
    font-weight: 600;

    color: $secondary-color;
  }
}

.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-small-desktop {
    margin-bottom: 80px;
  }
}

.custom-bullet {
  --swiper-pagination-bullet-width: 14px !important;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bullet-border-radius: 0;
  --swiper-pagination-bullet-horizontal-gap: 0;
  background-color: $white-accent-color !important;
  display: block;
  transition: background-color 0.3s;
}

.swiper-size {
  max-width: 212px;
  max-height: 439px;

  @include on-tablet {
    max-width: 237px;
    max-height: 512px;
  }

  @include on-small-desktop {
    max-width: 272px;
    max-height: 506px;
  }
}