@use './styles/utils/font.scss';
@use './styles/utils/variables.scss' as *;
@use 'normalize-scss' as *;
@use './styles/utils/mixins.scss' as *;
@include normalize();

:root {
  font-family: 'Mont', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $main-background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  margin: 0;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

body.modal--open {
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.footer {
  margin-top: auto;
  // margin-top: 100px;
}

.stack {
  display: flex;

  &--vertical {
    flex-direction: column;
  }
}

.container {
  @include content-padding-inline;
  padding-block: 24px 56px;

  @include on-tablet {
    padding-block: 32px 64px;
  }

  @include on-small-desktop {
    padding-block: 56px 80px;
  }
}
