@use './styles/utils/font.scss';
@use './styles/utils/variables.scss' as *;
@use 'normalize-scss' as *;
@use './styles/utils/mixins.scss' as *;
@include normalize();

:root {
  font-family: 'Mont', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--main-background-color, $main-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme {
  --icons-color: #4a4d58;
  --secondary-color: #75767f;
  --white-accent-color: #f1f2f9;
  --purple-accent-color: #905bff;
  --purple-hover-color: #a378ff;
  --green-accent-color: #27ae60;
  --red-accent-color: #eb5757;

  --main-background-color: #0f1121;
  --buttons-text-color-primary: #f1f2f9;
  --buttons-text-color-secondary: #75767f;
  --buttons-text-color-primary-active: var(--white-accent-color);
  --main-text-color-primary: #f1f2f9;
  --main-text-color-secondary: #75767f;
  --surface1-color: #161827;
  --surface2-color: #323542;
  --elements-color: #3b3e4a;
  --buttons-background-active: var(--purple-accent-color);
  --buttons-background-active-hover: var(--purple-hover-color);

  &--light {
    --icons-color: #6b6f7a;
    --secondary-color: #9a9ba3;
    --white-accent-color: #ffffff;
    --purple-accent-color: #905bff;
    --purple-hover-color: #a378ff;
    --green-accent-color: #eb5757;
    --red-accent-color: #27ae60;

    --main-background-color: #f7f8fc;
    --buttons-text-color-primary-active: var(--white-accent-color);
    --buttons-text-color-primary: #2c2d33;
    --buttons-text-color-secondary: #6b6f7a;
    --main-text-color-primary: #2c2d33;
    --main-text-color-secondary: #6b6f7a;
    --surface1-color: #ffffff;
    --surface2-color: #e2e6e9;
    --elements-color: #d9dbe0;
    --buttons-background-active: var(--purple-accent-color);
    --buttons-background-active-hover: var(--purple-hover-color);
  }
}

body {
  margin: 0;
  margin: 0;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

body.modal--open {
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.header {
  flex-shrink: 0;
  z-index: 10;
  position: sticky;
  top: 0;
}

.footer {
  flex-shrink: 0;
}

.stack {
  display: flex;

  &--vertical {
    flex-direction: column;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @include content-padding-inline;
  padding-top: 24px;
  padding-bottom: 56px;

  @include on-tablet {
    padding-bottom: 64px;
  }

  @include on-small-desktop {
    padding-bottom: 80px;
  }
}
