@use '/src/styles/utils/mixins.scss' as *;
@use '/src/styles/utils/variables.scss' as *;

.content {
  box-sizing: border-box;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  color: var(--main-text-color-primary, $white-accent-color);
  row-gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notFoundImage {
  height: 66%;
  max-height: 268px;
  max-width: 268px;
  width: 100%;
  margin: 0 auto;

  &__img {
    width: 100%;
    object-fit: contain;
  }
}

.errorMessage {
  height: 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--purple-hover-color, $purple-hover-color);
  margin: 0 auto;

  @include on-tablet {
    max-width: 600px;
  }

  @include on-small-desktop {
    max-width: 100%;
  }
}

.error404 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 800;
  line-height: 100%;

  @include on-small-desktop {
    font-size: 100px;
  }
}

.message {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  color: var(--purple-accent-color, $purple-accent-color);

  @include on-small-desktop {
    font-size: 48px;
  }
}
