@use '/src/styles/utils/mixins.scss' as *;
@use '/src/styles/utils/variables.scss' as *;

.content {
  @include page-grid;
  height: 100%;
  color: $white-accent-color;
  row-gap: 12px;
  justify-content: center;
}
.notFoundImage {
  grid-column: 1 / -1;
  height: auto;
  max-height: 268px;
  max-width: 268px;
  width: 100%;
  margin: 0 auto;

  @include on-tablet {
    grid-column: 3 / 11;
  }
  @include on-small-desktop {
    max-height: 300px;
    max-width: 300px;
    grid-column: 7 / 19;
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }
}

.errorMessage {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  color: $purple-accent-color;
  margin: 0 auto;

  @include on-tablet {
    max-width: 600px;
  }

  @include on-small-desktop {
    max-width: 100%;
  }
}

.error404 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 800;
  line-height: 100%;

  @include on-small-desktop {
    font-size: 108px;
  }
}

.message {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  color: #512f99;

  @include on-small-desktop {
    font-size: 48px;
  }
}
