@use '../../../styles/utils/variables' as *;
@use '../../../styles/utils/mixins' as *;

.recomendation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  &__title {
    display: block;
    width: 136px;
    font-size: 22px;
    font-weight: 800;
    line-height: 41px;

    @include on-tablet {
      font-size: 32px;
      width: 400px;
    }
  }
}

.slider-btn {
  display: flex;
  gap: 16px;

  &__left,
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--surface2-color, $surface2-color);
    border-color: var(--surface2-color, $surface2-color);
    border-radius: 0;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    padding: 0;
    cursor: pointer;
  }
}

button:disabled {
  border: 1px solid var(--surface2-color, $surface2-color);
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--surface1-color, $surface1-color);
}

.swiper-wrapper .swiper-slide {
  height: auto;

  @include span-columns(3, 4);

  @include on-tablet {
    @include span-columns(5, 12);
  }

  @include on-small-desktop {
    @include span-columns(6, 24);
  }
}
